<div class="container">

    <h1>Panel de control</h1>

    <h2>Agregar flores</h2>
    <form [formGroup]="formulario" (ngSubmit)="submit()">
        <div class="form-group">
            <label>Nombre común</label>
            <input type="text" formControlName="Name" class="form-control" placeholder="Introduce nombre">
            <div class="error" *ngIf="formulario.controls.Name.errors?.required && formulario.controls.Name.touched">
                Todos los campos son requeridos
            </div>
        </div>
        <div class="form-group">
            <label>Nombre científico</label>
            <input type="text" formControlName="ScName" class="form-control" placeholder="Introduce nombre científico">
            <div class="error" *ngIf="formulario.controls.ScName.errors?.required && formulario.controls.ScName.touched">
                Todos los campos son requeridos
            </div>
        </div>
        <div class="form-group">
            <label>Descripcción</label>
            <input type="text" formControlName="Description" class="form-control" placeholder="Introduce una descripcción">
            <div class="error" *ngIf="formulario.controls.Description.errors?.required && formulario.controls.Description.touched">
                Todos los campos son requeridos
            </div>
        </div>
        <div class="form-group">
            <label>Localización</label>
            <input type="text" formControlName="Location" class="form-control" placeholder="Introduce su localización">
            <div class="error" *ngIf="formulario.controls.Location.errors?.required && formulario.controls.Location.touched">
                Todos los campos son requeridos
            </div>
        </div>
        <div class="form-group">
            <label>Imagen de muestra</label>
            <input type="text" formControlName="Image" class="form-control" placeholder="Introduce el enlace a una imagen de muestra">
            <div class="error" *ngIf="formulario.controls.Image.errors?.required && formulario.controls.Image.touched">
                Todos los campos son requeridos
            </div>
        </div>
        <button class="btn btn-success">Enviar</button>
    </form>
    <div>
        <h2>Listado de flores agregadas</h2>
        <ul>
            <li *ngFor="let f of flores" class="mb-1">
                {{f.Name}}
                <button class="btn btn-sm btn-outline-danger" (click)="eliminarFlor(f.id)">Eliminar</button>
            </li>
        </ul>
    </div>
</div>