.presentation {
  height: calc(100vh - 165px);
  background-image: url("src/app/img/tulipan.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: block;
  color: white;
  font-size: calc(5.5vh);;
}
.presentation .texto{
  float:right;
  height: 100%;
  width: 50%;
  display:block;
  text-align: left;
  color:rgb(37, 51, 68);
  justify-content: center;
  font-weight: 350;
}
.presentation .texto p{
  float:right;
  height: fit-content;
  display:block;
  text-align: left;
  color:black;
  font-size: calc(5.5vh);
  margin-top:10%;
}
.presentation #imagepreview{
  display: none;
  float: left;
  width: 45%;
  height: 100%;
  transition:all 1s;
}

.presentation #imagepreview .imghor:hover{
  transform:scale(1.2);
  -ms-transform:scale(1.2);
  -moz-transform:scale(1.2); 
  -webkit-transform:scale(1.2); 
  -o-transform:scale(1.2); 
  transition:all 1s;
}

.presentation #imagepreview .imgver:hover{
  transform:scale(1.2);
  -ms-transform:scale(1.2);
  -moz-transform:scale(1.2); 
  -webkit-transform:scale(1.2); 
  -o-transform:scale(1.2); 
  transition:all 1s;
}

.presentation #imagepreview .imghor{
  width: 80%;
  margin: auto;   
  border-radius: 25px;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  animation: bounceIn 1.5s;
  overflow: hidden;
  transition:all 1s;
}

.presentation #imagepreview .imgver{
  height: 70%;
  margin: auto;   
  border-radius: 25px;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  animation: bounceIn 1.5s;
  overflow: hidden;
  transition:all 1s;
}

.presentation form{
  text-align: center;
  margin-top: 40px;
}

.presentation form input[type="file"] {
  /*height: 100px;
  overflow: hidden;
  display: block;
  margin:auto;*/
 width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.presentation label[for="pic"] {
  float:right;
  display:block;
  text-align: center;
  color:rgb(31, 42, 56);
  justify-content: center;
  margin-right: 90px;
  background: radial-gradient(circle, rgb(240, 188, 241), rgb(231, 231, 231))no-repeat center center fixed;
  border-radius: 15px;
  border-color: rgb(43, 60, 80);
  border-width: 5px;
  border-style: solid;
  padding: 10px;
  font-size: inherit;
  transition:all 1s;
  cursor: pointer;
}
.presentation label[for="pic"]:hover{
  background: radial-gradient(circle, rgb(231, 231, 231),  rgb(240, 188, 241))no-repeat center center fixed;
  border-color: black;
  color:black;
  transition:all 1s;
  transform: translateY(-10px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.presentation form input[type="submit"] {
  float:left;
  display:none;
  text-align: center;
  margin-top:10%;
  color:rgb(31, 42, 56);
  justify-content: center;
  margin-right: 90px;
  background: radial-gradient(circle, rgb(240, 188, 241), rgb(231, 231, 231))no-repeat center center fixed;
  border-radius: 15px;
  border-color: rgb(43, 60, 80);
  border-width: 5px;
  border-style: solid;
  padding: 10px;
  font-size: inherit;
  transition:all 1s;
  cursor: pointer;
  animation: bounceIn 1.5s;
}


.presentation form input[type="submit"]:hover{
  background: radial-gradient(circle, rgb(231, 231, 231),  rgb(240, 188, 241))no-repeat center center fixed;
  border-color: black;
  color:black;
  transition:all 1s;
  transform: translateY(-10px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.presentation #error{
    float: right;
    color: red;
    margin-right: 90px;
    display: none;
}

@keyframes bounceIn {
  from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

  to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
}


@media only screen and (max-width: 1050px) and (min-width: 820px) {
  .presentation .texto p{
    margin-top: calc(1vh - 6px);
  }
}

@media only screen and (max-width: 819px) {
  .presentation {
    height: calc(130vh - 165px);
    background-image: url("../../img/tulipan.webp");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: block;
    color: white;
    font-size: calc(5.5vh);;
  }
  .presentation .texto{
    float:none;
    height: 20%;
    width: 100%;
    display:block;
    text-align: center;
    color:rgb(37, 51, 68);
    justify-content: center;
    font-weight: 350;
  }
  .presentation .texto p{
    float:noce;
    height: fit-content;
    display:block;
    text-align: center;
    color:black;
    font-size: calc(5.5vh);
    margin-top:2%;
    background: radial-gradient(circle, rgb(231, 231, 231),  rgb(240, 188, 241))no-repeat center center fixed;
  }
  .presentation #imagepreview{
    float: left;
    width: 100%;
    height: 40%;
    transition: all 1s;
    position: relative;
    margin-top: 70px;
  }

  .presentation form input[type="file"] {
   width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .presentation label[for="pic"] {
    float:inline-end;
    display:block;
    text-align: center;
    color:rgb(31, 42, 56);
    justify-content: center;
    margin-right: auto;
    background: radial-gradient(circle, rgb(240, 188, 241), rgb(231, 231, 231))no-repeat center center fixed;
    border-radius: 15px;
    border-color: rgb(43, 60, 80);
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    font-size: inherit;
    transition:all 1s;
    cursor: pointer;
    width: 100%;

  }

  .presentation form input[type="submit"] {
    float:none;
    display:none;
    text-align: center;
    margin-top:10%;
    color:rgb(31, 42, 56);
    justify-content: center;
    margin-right: 90px;
    background: radial-gradient(circle, rgb(240, 188, 241), rgb(231, 231, 231))no-repeat center center fixed;
    border-radius: 15px;
    border-color: rgb(43, 60, 80);
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    font-size: inherit;
    transition:all 1s;
    cursor: pointer;
    animation: bounceIn 1.5s;
    width: 100%;
  }
}