<div id="loading"><div><img class="carge_logo" src="assets/loginicon/flower.svg"><p id="loadingtext">Text</p> </div></div>

<div class="container">
  <h1>Resultado de la identificación</h1>
  <div class="row">
    <div class="col-6">
      <img [src]="imagen" alt="" id="image" />
      <!-- Poner un display none para que no aparezca en el html una vez terminadas las pruebas -->
      <p id="salida"></p>
      <p id="prob"></p>
    </div>
    <div class="col-6" *ngIf="show">
      <h3>Información de la flor</h3>
      <ul>
        <li>Nombre: {{predictedFlower.Name}}</li>
        <li>Nombre científico: {{predictedFlower.ScName}}</li>
        <li>Descripción: {{predictedFlower.Description}}</li>
        <li>Localización: {{predictedFlower.Location}}</li>
        <img src="{{predictedFlower.Image}}" alt="imagen adicional sobre la flor" class="adicionalImage">
      </ul>
    </div>
    <div class="col-6" *ngIf="!show">
      <h3>Flor no reconocida</h3>
      <h2>Prueba añadiendo otra imagen...</h2>
    </div>
  </div>
</div>
