img{
    width: 100%;
}

.adicionalImage{
    height: 150px; 
    width: 150px;
}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(240, 188, 241), rgb(240, 188, 241));
    z-index: 100;
    overflow: hidden;
    text-align: center;
}

#loading div{
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: white;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10%;
    border-radius: 15px;
}
#loading img{
    width: fit-content;
    margin-top: calc(10vh - 30px);
    -webkit-animation: 3s rotate linear infinite;
    animation: 4s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#loading p{
    margin-top: 5%;
    font-size: 220%;
    font-weight: bold;
    color:rgb(229, 114, 231);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
  
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    #loading div{
    position: absolute;
    width: 90%;
    height: 40%;
    background-color: white;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10%;
    border-radius: 15px;
    }
}

/* .notRecon{
    border: 1px solid black;
    display: block;
} */

.imagenPrincipal{
    width: 100%;
}

.banner{
    font-style: italic;
    padding: 1rem;
    border-radius: 5px;
}

.hoverFail{
    background-color: tomato;
}

.hoverCorrect{
    background-color: lightgreen;
}

.hoverFail:hover{
    background-color: red;
}

.hoverCorrect:hover{
    background-color: lawngreen;
}

.liItem:hover{
    background-color: lightgray;
}